.profile-rossw {
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border-bottom: 1px solid var(--translucentGrayColor);

    &__input.input-wrapper {
        min-height: unset;
        width: unset;
    }

    &__input.input {
        border: none;
        max-width: 200px;
        text-align: right;
        color: var(--grayColor);
    }
}