.button {
    background: var(--secondary-color);
    border: none;
    border-radius: 8px;
    color: var(--primary-background-color);
    cursor: pointer;
    font-size: 13px;
    max-width: 380px;
    padding: 12px;
    width: 100%;
}

.button.grey {
	background: #999;
}
