.auth-section {
    align-items: center;
    background-color: var(--primary-background-color);
    border-radius: 20px;
    box-shadow: 0 0 6px 0 var(--border-shadow);
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    width: 350px;

    &__title.heading {
        margin-bottom: 20px;
    }

    &__form {
        width: 100%;
    }

    &__submit-button {
        margin: 50px 0 10px;
    }
}
