<main class='page'>
    {{> NavBar}}
    <section class='auth-section'>
        <h1 class='auth-section__title heading'>{{title}}</h1>
        <form class='auth-section__form form'>
            {{#each inputs}}
                {{> Input }}
            {{/each}}
            {{> Button text=button.text className='auth-section__submit-button' }}
            {{> Link href=link.href linkLabel=link.linkLabel }}
        </form>
    </section>
</main>