<main class='page'>
    {{> NavBar}}
    <section class='profile-section'>
        {{> Avatar src='./AddAvatar.png' className='profile-section__avatar'}}
        <form class='profile-section__form'>
            <div class='profile-section__layout'>
                {{#each inputs}}
                    {{> Input className='profile-section__input'}}
                {{/each}}
            </div>
            {{#if isEditing}}
                {{> Button text='Сохранить'}}
            {{^}}
                <nav class='profile-section__layout'>
                    {{> Link href='/ChatPage' className='page-link profile-section__link' linkLabel='Изменить данные'}}
                    {{> Link href='/ChatPage' className='page-link profile-section__link' linkLabel='Изменить пароль'}}
                    {{> Link href='/ChatPage' className='page-link profile-section__link profile-section__link_red' linkLabel='Выйти'}}
                </nav>
            {{/if}}
        </form>
    </section>
</main>
