<div class="chat-card {{className}}">
	<div class="avatar chat-card__avatar">
		<img src='{{avatar}}' class='avatar-image' alt='Аватар'>
	</div>
	<div class="chat-card__info">
		<h2 class="heading chat-card__name">{{name}}</h2>
		<p class="paragraph chat-card__last-message">{{lastMessage}}</p>
	</div>
</div>
