.navigation-bar {
    left: 50%;
    position: absolute;
    top: 15px;
    transform: translateX(-50%);

    &__list {
        background-color: var(--primary-background-color);
        border-radius: 20px;
        box-shadow: 0 0 6px 0 var(--border-shadow);
        display: flex;
        gap: 25px;
        list-style: none;
        margin: 0;
        padding: 20px;
    }
}
