.navigation-bar {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    &__list {
        display: flex;
        gap: 25px;

        margin: 0;
        padding: 20px;

        background-color: var(--primaryBackgroundColor);
        border-radius: 20px;
        box-shadow: 0 0 6px 0 var(--borderShadow);

        list-style: none;
    }
}