.error-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__error-code {
        font-size: 26px;
        font-weight: bold;
    }

    &__error-description {
        font-size: 18px;
    }
}
