<main class='page'>
    {{> NavBar}}
    <section class='error-section'>
        <h1 class='error-section__error-code heading'>{{errorCode}}</h1>
        <p class='error-section__error-description paragraph'>{{errorDescription}}</p>
        {{> Link href='#' linkLabel='Вернуться к чатам'}}
    </section>
</main>