.outgoing {
	align-self: flex-end;
	background-color: #E4EDFD;
	border-radius: 15px 15px 0;
	margin: 0;
	padding: 20px;
	width: 60%;
	word-break: break-all;
}

.incoming {
	align-self: flex-end;
	border-radius: 0 15px 15px;
	border-top: 1px solid #EAEAEA;
	margin: 0;
	padding: 20px;
	width: 60%;
	word-break: break-all;
}
